{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
    <h1>Rooms</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ room.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ room.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ room.slug }}</td>
            </tr>
            <tr>
                <th>Province</th>
                <td>{{ room.province }}</td>
            </tr>
            <tr>
                <th>District</th>
                <td>{{ room.district }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ room.street }}</td>
            </tr>
            <tr>
                <th>Short Description</th>
                <td>{{ room.shortDescription }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description | nl2br }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ room.image }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ room.price|number_format }}VND</td>
            </tr>
            <tr>
                <th>Weekend</th>
                <td>{{ room.weekend }}%</td>
            </tr>
            <tr>
                <th>Holiday</th>
                <td>{{ room.holiday }}%</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ room.discount }}%</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{% for service in room.service %}
                            <span class="badge badge-light">{{ service }}</span>
                    {% endfor %}</td></td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ room.type }}</td>
            </tr>
            <tr>
                <th>Maximum people</th>
                <td>{{ room.people }}</td>
            </tr>

            <tr>
                <th>Toilet</th>
                <td>{{ room.toilet }}</td>
            </tr>
            <tr>
                <th>Bed Room</th>
                <td>{{ room.bedRoom }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ room.status }}</td>
            </tr>
            <tr>
                <th>Featured</th>
                <td>{{ room.featured }}</td>
            </tr>
        </tbody>
    </table>
    <div class="List-Booking col-md-6">
        {% if not lists is empty %}
            <h5>List Booked</h5>
            <table class="table">
                <tbody>
                <tr>
                    <th>From Date</th>
                    <th>To Date</th>
                </tr>
                {% for list in lists %}
                    <tr>
                        <td>{{list.fromDate ? list.fromDate|date('Y-m-d') : '' }}</td>
                        <td>{{list.toDate ? list.toDate|date('Y-m-d') : '' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    {% for message in app.flashes('error') %}
        {% if message|length > 0 %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    {% set from_date = app.session.get('from_date') %}
    {% set to_date = app.session.get('to_date') %}

    {{ form_start(form) }}
    <div class="row" >
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.fromDate, {
                            'attr': {'value': from_date ? from_date : "now"|date("Y-m-d") }
                        }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.toDate, {
                            'attr': {'value': to_date ? to_date : "tomorrow"|date("Y-m-d") }
                        }) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="form-group">
        <button class="btn btn-success"  type="submit"> Booking</button>
    </div>
    {{ form_end(form) }}

    <a href="{{ path('rooms_index') }}">back to list</a>

{% endblock %}
{% block javascripts %}
    <script >
        $(document).ready(function () {
            $("#choose_date_fromDate, #choose_date_toDate").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate:'0D',
            });
        });
    </script>
{% endblock %}

