{% extends 'base.html.twig' %}

{% block title %}Search Room!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    a{
        text-decoration: none;
        color: #1b1e21;
    }
</style>

    {% if app.user is empty %}
        <a  class="btn btn-primary"  href="{{ path('app_login') }}">Login</a>
    {% endif %}
    <div class="serach">
        <div class="row" style="padding-top: 10px">
            <div class="col-md-12">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" >
                                        {{ form_row(form.keyWord) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_row(form.type) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_row(form.fromDate) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_row(form.toDate) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-3" style="padding-top: 50px">
                                <div class="form-group">
                                    <button type="submit" class="form-controll btn btn-success">Search <i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <h2>LIST ROOMS</h2>
    <div class="list-rooms">
        <div class="row">
            {% for room in rooms %}
            <div class="col-md-4" style="margin: 5px">
                <div class="row">
                    <div class="img-thumbnail">
                        {% if not room.image is empty %}
                            <a href="{{ path('booking_detail', {'slug': room.slug}) }}"><img src="{{ asset("uploads/image/#{room.image}") }}" width="100%"></a>
                        {% endif %}
                    </div>
                    <div  style="padding-top: 5px">
                        <h5><a  href="{{ path('booking_detail', {'slug': room.slug}) }}">{{ room.name }}</a></h5>
                    </div>
                    <div >
                        <span style="font-size: 1rem">{{ room.people}} people · {{ room.bedRoom}} Bed room · {{ room.toilet}} Toilet</span>
                    </div>
                    <div style="font-size: 1rem"><label>Price: </label>
                        {% if not room.discount is empty and room.discount > 0 %} <strike>{{ room.price | number_format  }}</strike> VND/night {% else %}<span> {{ room.price | number_format  }}</span> VND/night  {% endif %}
                        <span>{% if not room.discount is empty and room.discount > 0 %} - {{ (room.price - (room.price * room.discount)/100) | number_format}} VND/night {% endif %}</span>
                    </div>
                    <div>{{ room.street }} - {{ room.district }} - {{ room.province }}</div>
                </div>
            </div>
            {% endfor %}

        </div>
        {{ knp_pagination_render(rooms) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#search_fromDate, #search_toDate").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate:'0D',
            });
        });

    </script>
{% endblock %}