{% extends 'base.html.twig' %}

{% block title %}Search Room!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    a{
        text-decoration: none;
        color: #1b1e21;
    }
</style>


    <div class="serach">
        <div class="row" style="padding-top: 10px">
            <div class="col-md-12">
                <form action="{{ path('search_room') }}" method="get">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" >
                                        <input type="text" name="key_word" placeholder="Search" class="form-control" {% if keyWord is defined  %} value="{{ keyWord }}" {% endif %} >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Type Room</label>
                                        <select name="type" class="form-control">
                                            <option value="">Choose type room</option>
                                            <option value="vip" {% if type is defined and type == 'vip'  %} selected {% endif %}>VIP</option>
                                            <option value="normal" {% if type is defined  and type == 'normal' %} selected {% endif %}>NORMAL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">From date</label>
                                        <input type="text" id="from_date" name="from_date" placeholder="From date" class="form-control"  {% if fromDate is defined  %} value="{{ fromDate }}" {% endif %}>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">To date</label>
                                        <input type="text" id="to_date" name="to_date" placeholder="To date" class="form-control"  {% if toDate is defined  %} value="{{ toDate }}" {% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-3" style="padding-top: 50px">
                                <div class="form-group">
                                    <button type="submit" class="form-controll btn btn-success">Search <i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <h2>LIST ROOMS</h2>
    <div class="list-rooms">
        <div class="row">
            {% for room in rooms %}
            <div class="col-md-4" style="margin: 5px">
                <div class="row">
                    <div class="img-thumbnail">
                        {% if not room.image is empty %}
                            <a href="{{ path('room_detail', {'id': room.id, 'slug': room.slug}) }}"><img src="{{ asset("uploads/image/#{room.image}") }}" width="100%"></a>
                        {% endif %}
                    </div>
                    <div  style="padding-top: 5px">
                        <h5><a  href="{{ path('room_detail', {'id': room.id, 'slug': room.slug}) }}">{{ room.name }}</a></h5>
                    </div>
                    <div >
                        <span style="font-size: 1rem">{{ room.people}} people · {{ room.bedRoom}} Bed room · {{ room.toilet}} Toilet</span>
                    </div>
                    <div style="font-size: 1rem"><label>Price: </label>
                        {% if not room.discount is empty and room.discount > 0 %} <strike>{{ room.price | number_format  }}</strike> VND/night {% else %}<span> {{ room.price | number_format  }}</span> VND/night  {% endif %}
                        <span>{% if not room.discount is empty and room.discount > 0 %} - {{ (room.price - (room.price * room.discount)/100) | number_format}} VND/night {% endif %}</span>
                    </div>
                    <div>{{ room.street }} - {{ room.district }} - {{ room.province }}</div>
                </div>
            </div>
            {% endfor %}

        </div>
        {{ knp_pagination_render(rooms) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#to_date, #from_date").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate:'0D',
            });
        });
    </script>
{% endblock %}