{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <h1>Product</h1>
    <a class="btn btn-success"  href="{{ path('product_new') }}">Create new</a>
    <div class="row" style="padding-top: 10px">
        <form action="{{ path('product_index') }}" method="get">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="name" class="form-control"  {% if input.name is defined  %} value="{{ input.name }}" {% endif %}>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select name="category_id" class="form-control" >
                                <option value="">Choose category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}" {% if input.name is defined and  input.category_id == category.id %} selected {% endif %} > {{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="price_min" placeholder="Price from" class="form-control" {% if input.price_min is defined  %} value="{{ input.price_min }}" {% endif %}>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="price_max" placeholder="Price to" class="form-control " {% if input.price_max is defined  %} value="{{ input.price_max }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="form-controll btn btn-success">Search <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Image</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Producer</th>
                <th>Status</th>
                <th>Featured</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>
                    {% if not product.image is empty %}
                        <img src="{{ asset("uploads/image/#{product.image}") }}" width="170px" height="100px">
                    {% endif %}
                </td>
                <td>{{ product.price | format_number }}VND</td>
                <td>{{ product.discount }}</td>
                <td>{{ product.producer }}</td>
                <td>{{  product.status == 1 ? 'Bật' : 'Tắt' }}</td>
                <td>{{ product.featured == 1 ? 'Bật' : 'Tắt' }}</td>
                <td style="display: flex">
                    <a class="btn btn-success" href="{{ path('product_show', {'id': product.id}) }}"><i class="far fa-eye"></i></a> |
                    <a class="btn btn-primary" href="{{ path('product_edit', {'id': product.id}) }}"><i class="fas fa-edit"></i></a> |
                    <div >{{ include('product/_delete_form.html.twig') }}</div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(products) }}

{% endblock %}
