
    <header>
        <div class="header-top">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="logo mont"><a title="" href="index.php"><img alt="" src="images/logo.png" class="img-fluid" alt=""><span>Công ty TNHH Vina tq</span></a></div>
                        </div>
                        <div class="col-md-9">
                            <div class="right">
                                <div class="search">
                                    <form action="">
                                        <input type="text" placeholder="Từ khóa tìm kiếm">
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="info">
                                    <p><i class="fa fa-envelope"></i>doquyen.xl@gmail.com</p>
                                    <p><i class="fa fa-map-marker" style="font-size: 13px;top: 2px;"></i>51 Nguyễn Cư Trinh - Quận 1 - TP.HCM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-menu wow fadeInUp wHighlight" data-wow-delay=".2s">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="left mont">
                                <ul>
                                    <li><a title="" href="{{route('home')}}" class="active">trang chủ</a></li>
                                    <li><a title="" href="{{route('about')}}">giới thiệu</a></li>
                                    <li>
                                        <a title="" href="{{route('product')}}">sản phẩm</a>
                                        <ul>
                                            <li>
                                                <a title="" href="">Gỗ nhựa composite</a>
                                                <ul>
                                                    <li><a title="" href="">Vân đá BKI 2 hoa văn</a></li>
                                                    <li><a title="" href="">Loại 6 hoa văn</a></li>
                                                    <li><a title="" href="">Vân đá Zic zac</a></li>
                                                    <li><a title="" href="">Vân đá nhập khẩu</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a title="" href="">PVC vân đá</a>
                                                <ul>
                                                    <li><a title="" href="">Vân đá BKI 2 hoa văn</a></li>
                                                    <li><a title="" href="">Loại 6 hoa văn</a></li>
                                                    <li><a title="" href="">Vân đá Zic zac</a></li>
                                                    <li><a title="" href="">Vân đá nhập khẩu</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a title="" href="">Nẹp nhôm trang trí</a>
                                                <ul>
                                                    <li><a title="" href="">Vân đá BKI 2 hoa văn</a></li>
                                                    <li><a title="" href="">Loại 6 hoa văn</a></li>
                                                    <li><a title="" href="">Vân đá Zic zac</a></li>
                                                    <li><a title="" href="">Vân đá nhập khẩu</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a title="" href="">Sàn nhựa giả gỗ</a>
                                                <ul>
                                                    <li><a title="" href="">Vân đá BKI 2 hoa văn</a></li>
                                                    <li><a title="" href="">Loại 6 hoa văn</a></li>
                                                    <li><a title="" href="">Vân đá Zic zac</a></li>
                                                    <li><a title="" href="">Vân đá nhập khẩu</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a title="" href="{{route('project')}}">dự án</a></li>
                                    <li><a title="" href="{{route('news')}}">tin tức</a></li>
                                    <li><a title="" href="{{route('contact')}}">liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="right-menu text-right">
                                <div class="hotline">
                                    <p><i class="fa fa-phone"></i>Hotline: 0815888333</p>
<!--                                    <p>Hotline chi nhánh:</p>-->
                                </div>
                                <div class="cart"><a title="" href="cart.php"><img alt="" src="images/cart.png" class="img-fluid" alt=""><span>0</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu-mobile -->
        <div class="menu-mobile" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-3 col-sm-3">
                        <div class="header">
                            <a title="" href="#menu"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="logo text-center">
                            <a title="" href="{{route('home')}}"><img alt="" src="images/logo.png" class="img-fluid avarta-logo" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-3 col-sm-3">
                        <div class="cart"><a title="" href="{{route('cart')}}"><i class="fa fa-shopping-cart"></i><span>0</span></a></div>
                    </div>
                </div>
            </div>
            <nav id="menu">
                <ul>
                    <li>
                        <input type="text" placeholder="Tìm kiếm ...">
                        <button><i class="fa fa-search"></i></button>
                    </li>
                    <li><a title="" href="{{route('home')}}">Trang chủ</a></li>
                    <li><a title="" href="{{route('about')}}">Giới thiệu</a></li>
                    <li>
                        <a title="" href="{{route('product')}}">Sản phẩm</a>
                        <ul>
                            <li>
                                <a title="" href="">Gỗ nhựa composite</a>
                                <ul>
                                    <li><a title="" href="">Vân đá BKI 2 hoa văn</a></li>
                                    <li><a title="" href="">Loại 6 hoa văn</a></li>
                                    <li><a title="" href="">Vân đá Zic zac</a></li>
                                    <li><a title="" href="">Vân đá nhập khẩu</a></li>
                                </ul>
                            </li>
                            <li>
                                <a title="" href="">PVC vân đá</a>
                                <ul>
                                    <li><a title="" href="">Vân đá BKI 2 hoa văn</a></li>
                                    <li><a title="" href="">Loại 6 hoa văn</a></li>
                                    <li><a title="" href="">Vân đá Zic zac</a></li>
                                    <li><a title="" href="">Vân đá nhập khẩu</a></li>
                                </ul>
                            </li>
                            <li>
                                <a title="" href="">Nẹp nhôm trang trí</a>
                                <ul>
                                    <li><a title="" href="">Vân đá BKI 2 hoa văn</a></li>
                                    <li><a title="" href="">Loại 6 hoa văn</a></li>
                                    <li><a title="" href="">Vân đá Zic zac</a></li>
                                    <li><a title="" href="">Vân đá nhập khẩu</a></li>
                                </ul>
                            </li>
                            <li>
                                <a title="" href="">Sàn nhựa giả gỗ</a>
                                <ul>
                                    <li><a title="" href="">Vân đá BKI 2 hoa văn</a></li>
                                    <li><a title="" href="">Loại 6 hoa văn</a></li>
                                    <li><a title="" href="">Vân đá Zic zac</a></li>
                                    <li><a title="" href="">Vân đá nhập khẩu</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a title="" href="{{route('project')}}">Dự án</a></li>
                    <li><a title="" href="{{route('news')}}">Tin tức</a></li>
                    <li><a title="" href="{{route('contact')}}">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
        <!-- end menu-mobile -->
    </header>

